@charset "utf-8";

/*
 * セレクタ名{
 *      プロパティー名: 値;
 *      }
 *      */

body{
	background-color: #f5f5f5;
	margin-right: auto;
	margin-left : auto;
	width: 800px;
	font-family:"Open Sans",Arial,sans-serif;
	font-weight: 400;
	font-style: normal;
}

.main{
	margin-top: 20px;
	margin-right: auto;
	margin-left : auto;
	width: 800px;
}

.timer{
	margin-right: auto;
	margin-left : auto;
	width: 800px;
	margin: 48px auto;
}

.action{
	width:250px;
	height: 30px;
}


.d1{
	width: 70px;
}

.d2{
	width: 70px;
}

.btn {
	background: #EEE;
	border: 1px solid #DDD;
	color: #111;
	width: 100px;
	padding: 10px 0;
}

.form {
	margin-right: auto;
	margin-left : auto;
	width: 750px;
}
