charset "utf-8";

/*
 * セレクタ名{
 *      プロパティー名: 値;
 *      }
 *      */

body{
	margin-right: auto;
	margin-left : auto;
	width: 800px;
	//height: 100%;
}

.main{
	margin-top: 20px;
	margin-right: auto;
	margin-left : auto;
	width: 800px;
	//height: 100%;
}

form{
	margin-right: auto;
	margin-left : auto;
	width: 500px;
	//height: 100%;
}

.comment{
	margin-top: 20px;
	margin-right: auto;
	margin-left : auto;
	width: 800px;
}
